<%- include('header', {pageTitle: 'Főoldal'}) -%>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Üdvözöllek a labdarúgócsapat nyilvántartó oldalamon!</h1>
            <a href="/csapatok" class="btn btn-sm btn-dark">Tovább a csapatok listájára!</a>
        </div>
    </div>
</div>


<%- include('footer') -%>
